{% extends 'core/base.html' %}
{% load shared_tags %}


{% block content %}
  <div class="header">
    <h2 class="ui left floated header">
      <i class="archive icon"></i>
      <div class="content">
        Processos
        <div class="sub header">Crie, edite ou adicione novos processos</div>
      </div>
    </h2>
    <a href="{% url 'process-create-view' %}" class="ui add-user right floated small primary labeled icon button">
      <i class="archive icon"></i> Adicionar
    </a>
  </div>

  <div class="row">
    <table class="ui very basic celled table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descrição</th>
        <th class="center aligned">Usuários com parecer</th>
        <th class="center aligned">Ações</th>
      </tr>
      </thead>
      <tbody>
      {% for process in object_list %}
        <tr>
          <td>#{{ process.pk }}</td>
          <td>
            <a href="{% url 'process-detail-view' pk=process.pk %}">{{ process.title }}</a>
          </td>
          <td>{{ process.description|truncatechars:50 }}</td>
          <td>
            {% for user in process.feedback_users.all %}
              <div>
                {% user_has_published_process_feedback user process as has_feedback %}
                {% if has_feedback %}
                  <i class="green small checkmark icon"></i>
                {% else %}
                  <i class="grey small close icon"></i>
                {% endif %}
                {{ user }}
              </div>
            {% endfor %}
          </td>
          <td class="center aligned actions">
            <a href="{% url 'processfeedback-create-view' process_pk=process.pk %}" data-content="Adicionar Parecer">
              <i class="clipboard note icon"></i>
            </a>
            <a href="{% url 'process-update-view' pk=process.pk %}" data-content="Editar">
              <i class="edit icon"></i>
            </a>
            <a href="{% url 'process-delete-view' pk=process.pk %}" data-content="Remover">
              <i class="trash alternate icon red"></i>
            </a>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}


{% block script %}
  <script>
    $(document).ready(function(){
      $('td.actions a').popup();
    })
  </script>
{% endblock %}
