{% extends 'core/base.html' %}
{% load shared_tags %}


{% block content %}
  <div class="ui grid sub-header">
    <div class="ui nine wide column">
      <h2 class="ui left floated header">
        <i class="archive icon"></i>
        <div class="content">
          Processos
          <div class="sub header">Crie, edite ou adicione novos processos</div>
        </div>
      </h2>
    </div>

    <div class="ui seven wide column">
      <a href="{% url 'process-create-view' %}" class="ui add-user primary labeled icon button">
        <i class="archive icon"></i> Adicionar
      </a>

      <form class="search" action=".">
        <div class="ui search">
          <div class="ui icon input">
            <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Buscar...">
            <i class="circular search link icon"></i>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <table class="ui table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Criado em</th>
        <th class="center aligned">Usuários com parecer</th>
        <th class="center aligned">Ações</th>
      </tr>
      </thead>
      <tbody>
      {% for process in object_list %}
        <tr>
          <td>#{{ process.pk }}</td>
          <td>
            <a href="{% url 'process-detail-view' pk=process.pk %}">{{ process.title|truncatechars:70 }}</a>
          </td>
          <td>{{ process.created_at }}</td>
          <td>
            {% for user in process.feedback_users.all %}
              <div>
                {% user_has_published_process_feedback user process as has_feedback %}
                {% if has_feedback %}
                  <i class="green small checkmark icon"></i>
                {% else %}
                  <i class="grey small close icon"></i>
                {% endif %}
                {{ user }}
              </div>
            {% endfor %}
          </td>
          <td class="center aligned actions">
            <a href="{% url 'processfeedback-create-view' process_pk=process.pk %}" data-content="Adicionar Parecer">
              <i class="clipboard note icon"></i>
            </a>
            <a href="{% url 'process-update-view' pk=process.pk %}" data-content="Editar">
              <i class="edit icon"></i>
            </a>
            <a href="{% url 'process-delete-view' pk=process.pk %}" data-content="Remover">
              <i class="trash alternate icon red"></i>
            </a>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
  {% include 'core/pagination.html' %}
{% endblock %}


{% block script %}
  <script>
    $(document).ready(function(){
      $('td.actions a').popup();
    })
  </script>
{% endblock %}
