{% extends 'core/base.html' %}

{% block content %}
  <div class="header">
    <h2 class="ui left floated header">
      <i class="user icon"></i>
      <div class="content">
        Remover
      </div>
    </h2>
  </div>

  <div class="row">
    {% if protected_objects %}
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
          Não é possível remover esse usuário pois ele está relacionado com outros objetos.
        </div>
        <ul class="list">
          {% for projected_object in protected_objects %}
            <li>{{ projected_object }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form method="post">{% csrf_token %}
      <p>Tem certeza que deseja remover "{{ object }}"?</p>

      <input class="ui red button" type="submit" value="Remover">
      <a href="{% url 'profile-list-view' %}">
        <button type="button" class="ui green button">Cancelar</button>
      </a>
    </form>
  </div>
{% endblock %}
