{% extends 'core/base.html' %}

{% block content %}
  <div class="ui grid sub-header">
    <div class="ui nine wide column">
      <h2 class="ui left floated header">
        <i class="user icon"></i>
        <div class="content">
          Usuários
          <div class="sub header">Crie, edite ou adicione novos usuários</div>
        </div>
      </h2>
    </div>

    <div class="ui seven wide column">
      <a href="{% url 'profile-create-view' %}" class="ui add-user primary labeled icon button">
      <i class="user icon"></i> Adicionar
    </a>

      <form class="search" action=".">
        <div class="ui search">
          <div class="ui icon input">
            <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Buscar...">
            <i class="circular search link icon"></i>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <table class="ui very basic celled table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th class="center aligned">Administrador</th>
        <th class="center aligned">Triador</th>
        <th class="center aligned">Finalizador</th>
        <th class="center aligned">Ações</th>
      </tr>
      </thead>
      <tbody>
      {% for profile in object_list %}
        <tr>
          <td>#{{ profile.pk }}</td>
          <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
          <td>{{ profile.user.email }}</td>
          <td class="center aligned actions">
            {% if profile.is_admin %}
              <i class="green checkmark icon"></i>
            {% else %}
              <i class="grey close icon"></i>
            {% endif %}
          </td>
          <td class="center aligned actions">
            {% if profile.is_manager %}
              <i class="green checkmark icon"></i>
            {% else %}
              <i class="grey close icon"></i>
            {% endif %}
          </td>
          <td class="center aligned actions">
            {% if profile.is_publisher %}
              <i class="green checkmark icon"></i>
            {% else %}
              <i class="grey close icon"></i>
            {% endif %}
          </td>
          <td class="center aligned actions">
            <a href="{% url 'profile-update-view' pk=profile.pk %}" data-content="Editar">
              <i class="edit icon"></i>
            </a>
            <a href="{% url 'profile-delete-view' pk=profile.pk %}" data-content="Remover">
              <i class="trash alternate icon red"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'core/pagination.html' %}
{% endblock %}


{% block script %}
  <script>
    $(document).ready(function(){
      $('td.actions a').popup();
    })
  </script>
{% endblock %}
