/* Variables */

:root {
  --primary-color: #256187;
  --secondary-color: #0687a5;
  --tertiary-color: #032c5e;
  --quarter-color: #05698d;
}


/* Font */

@font-face {
  font-family: 'AleoBold';
  src: url('/static/core/font/aleo/Aleo-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AleoBoldItalic';
  src: url('/static/core/font/aleo/Aleo-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'AleoItalic';
  src: url('/static/core/font/aleo/Aleo-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AleoLight';
  src: url('/static/core/font/aleo/Aleo-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AleoLightItalic';
  src: url('/static/core/font/aleo/Aleo-LightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AleoRegular';
  src: url('/static/core/font/aleo/Aleo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Elements style */

h1, h2, h3, h4, h5 {
  color: var(--tertiary-color) !important;
}

.button.primary-color {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.button.primary-color:hover {
  background-color: var(--secondary-color) !important;
}
.button.secondary-color {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}
.button.secondary-color:hover {
  background-color: var(--secondary-color) !important;
}
.button.tertiary-color {
  background-color: var(--tertiary-color) !important;
  color: #fff !important;
}
.button.tertiary-color:hover {
  background-color: var(--tertiary-color) !important;
}


/* Global css style */

.menu.top.fixed a.item.home:hover {
  background-color: transparent;
}

.main.container {
  margin-top: 7rem;
}
.main.container h2.header {
  margin-bottom: 4rem;
}

.header {
  overflow: hidden;
  margin-bottom: 4rem;
}
.header h2.header {
  margin-bottom: 0 !important;
}
.header .add-user {
  margin-top: 0.7rem;
}

.sub-header form.search {
  float: right;
  margin-right: 1rem;
}
.sub-header a.add-user {
  float: right;
}
