/* Variables */

:root {
  --primary-color: #256187;
  --secondary-color: #0687a5;
  --tertiary-color: #032c5e;
  --quarter-color: #05698d;
}


/* Elements style */

h1, h2, h3, h4, h5 {
  color: var(--primary-color) !important;
}

.button.primary-color {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.button.primary-color:hover {
  background-color: var(--secondary-color) !important;
}
.button.secondary-color {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}
.button.secondary-color:hover {
  background-color: var(--secondary-color) !important;
}
.button.tertiary-color {
  background-color: var(--tertiary-color) !important;
  color: #fff !important;
}
.button.tertiary-color:hover {
  background-color: var(--tertiary-color) !important;
}

/* Global css style */

.menu.top.fixed a.item.home:hover {
  background-color: transparent;
}

.main.container {
  margin-top: 7rem;
}
.main.container h2.header {
  margin-bottom: 4rem;
}

.header {
  overflow: hidden;
  margin-bottom: 4rem;
}
.header h2.header {
  margin-bottom: 0 !important;
}
.header .add-user {
  margin-top: 0.7rem;
}
